# Замена отсутствующих значений

В данном ноутбуке приводится ситуация в которой часть данных DataFrame отсутствует и демонстрируются методы решения данной проблемы.

------------

In [9]:
# импорт всех необходимых библиотек
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
file_path = 'car-sales-extended-missing-data.csv'

In [11]:
# создание объекта DataFrame
df = pd.read_csv(file_path)

In [30]:
# получение информации о количестве строк и столбцов в DataFrame
df.shape

(1000, 5)

In [16]:
# актуальная информация о DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Brand     951 non-null    object
 1   Colour    950 non-null    object
 2   Odometer  950 non-null    float64
 3   Doors     950 non-null    float64
 4   Price     950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [13]:
df.head(3)

    Make Colour  Odometer (KM)  Doors    Price
0  Honda  White        35431.0    4.0  15323.0
1    BMW   Blue       192714.0    5.0  19943.0
2  Honda  White        84714.0    4.0  28343.0

In [14]:
# переименование столбцов
df = df.rename(columns = {'Odometer (KM)' : 'Odometer', 'Make' : 'Brand'})

In [27]:
df.head(3)

   Brand Colour  Odometer  Doors    Price
0  Honda  White   35431.0    4.0  15323.0
1    BMW   Blue  192714.0    5.0  19943.0
2  Honda  White   84714.0    4.0  28343.0

In [17]:
# проверка на наличие значений NaN
df.isna().sum()

Brand       49
Colour      50
Odometer    50
Doors       50
Price       50
dtype: int64

Возникла ситуация при который ряд значений отсутствуют - в таких случаях рассматривается **2** основных варианта - удаление или замена данных. <br>
В текущих обстоятельствах нет смысла полностью удалять какой-либо массив данных, так как имеется возможность заполнения недостающих значений.

In [22]:
# замена отсутствующих данных в массиве на Мо́дy (Mode) - наиболее часто встречающееся значение в списке.
df['Brand'].replace(np.nan, df['Brand'].value_counts().idxmax(), inplace=True)

In [21]:
df['Colour'].replace(np.nan, df['Colour'].value_counts().idxmax(), inplace=True)

In [20]:
df['Doors'].replace(np.nan, df['Doors'].value_counts().idxmax(), inplace=True)

In [19]:
# замена отсутствующих значений в массиве на среднее арифметическое 
avg_od = df['Odometer'].mean(axis=0)
df['Odometer'].replace(np.nan, avg_od, inplace=True)

In [18]:
avg_price = df['Price'].mean(axis=0)
df['Price'].replace(np.nan, avg_price, inplace=True)

In [23]:
df.isna().sum()

Brand       0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64

Все отсутствующие значения ряда были заменены.

------------------